<!DOCTYPE html>
<head>
    <title>Hiking Assistant</title>
</head>
<body>
    <h1>Previous Hiking Sessions for {{user}}</h1>

    {% if sessions %}
        <ul>
        {% for session in sessions | reverse %}
            <li>
                <strong>Session:</strong> {{ session.id | string }}<br>
		<strong>Steps:</strong> {{ session.steps }}<br>
                <strong>Distance (km):</strong> {{ session.km }}<br>
                <strong>Burnt Calories (kcal):</strong> {{ session.kcal | int}}<br>
		<br>
	    </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No sessions available.</p>
    {% endif %}
    
</body>
</html>

