<!DOCTYPE html>
<head>
    <title>Hiking Assistant</title>
    <script>
        function deleteSession(sessionId) {
            if (confirm("Are you sure you want to delete this session?")) {
                fetch(`/${sessionId}/delete`, {
                    method: "DELETE",
                })
                .then(response => {
                    if (response.ok) {
                        document.getElementById(`session-${sessionId}`).remove();
                    } else {
                        alert("Failed to delete session.");
                    }
                })
                .catch(error => console.error("Error:", error));
            }
        }
    </script>
</head>
<body>
    <h1>Previous Hiking Sessions</h1>

    {% if sessions %}
        <ul>
        {% for session in sessions %}
            <li>
                <strong>Session ID:</strong> {{ session.id }}<br>
                <strong>Distance (km):</strong> {{ session.km }}<br>
                <strong>Steps:</strong> {{ session.steps }}<br>
                <strong>Burnt Calories:</strong> {{ session.kcal }}<br>
                <button onclick="deleteSession({{ session.session_id }})">Delete</button>
	    </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No sessions available.</p>
    {% endif %}
    
</body>
</html>

